---
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
  fullWidth?: boolean;
}

const { 
  title = "Forrest Morrisey", 
  description = "",
  fullWidth = false
} = Astro.props;

const currentPath = Astro.url.pathname;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    {description ? <meta name="description" content={description} /> : null}
  </head>
  <body>
    <SiteHeader currentPath={currentPath} />

    <main class:list={[{ container: !fullWidth }]}>
      <slot />
    </main>

    <SiteFooter />
  </body>
</html>
